.heading-small {
  font-size: ($small-heading);
}

.heading-medium {
  font-size: ($medium-heading);
}

.heading-large {
  font-size: ($large-heading);
}

.caption {
  font-size: ($caption-text);
}

.icon {
  font-size: ($normal-icon);
}
