<h2 class="margin-bottom-normal border-bottom border--medium">Borders</h2>
<div>
  <h3 class="margin-bottom-normal">All three standard borders called using the .border class you can then use the modifiers shown below</h3>
  <p class="border border--thin margin-bottom-normal">This is a piece of text with a thin border - .border--thin</p>
  <p class="border border--medium margin-bottom-normal">This is a piece of text with a medium border - .border--medium</p>
  <p class="border border--thick margin-bottom-normal">This is a piece of text with a thick border - .border--thick</p>
  <h3 class="margin-bottom-normal">You can also set borders on specific sides</h3>
  <p class="border-left border--thin margin-bottom-normal">This is a piece of text with a border on the left</p>
  <p class="border-right border--thin margin-bottom-normal">This is a piece of text with a border on the right</p>
  <p class="border-top border--thin margin-bottom-normal">This is a piece of text with a border on the top</p>
  <p class="border-bottom border--thin margin-bottom-normal">This is a piece of text with a border on the bottom</p>
</div>
