<div>
  <h2 class="heading-medium border-bottom border--medium margin-bottom-normal">Buttons and Links</h2>
  <div class="margin-bottom-normal">
    <h3 class="heading-small margin-bottom-normal">Buttons</h4>
    <button class="btn btn--red">There is a modifier for a red button</button>
    <button class="btn btn--blue">There is a modifier for a turquiose button</button>
    <button class="btn btn--disabled">There is a modifier for a disabled button</button>
  </div>
  <div class="margin-bottom-normal">
    <h3 class="heading-small margin-bottom-normal">Links</h4>
    <a>This is a standard link</a>
  </div>
</div>
