<h2>Colours</h2>
<div class="color-block color-block--pale-turquoise">
  <p>Pale turquoise - ($pale-turquoise) - #96ceb4</p>
</div>

<div class="color-block color-block--turquoise">
  <p>Turquoise - ($turquoise) - #88d8b0</p>
</div>

<div class="color-block color-block--biege">
  <p>Biege - ($biege) - #ffeead</p>
</div>

<div class="color-block color-block--red">
  <p>Red - ($red) - #ff6f69</p>
</div>

<div class="color-block color-block--orange">
  <p>Orange - ($orange) - #ffcc5c</p>
</div>

<div class="color-block color-block--white">
  <p>White - ($white) - #fff</p>
</div>

<div class="color-block color-block--black">
  <p>Black - ($black) - #000</p>
</div>
