<h2>Colours</h2>
<div class="color-block color-block--pale-turquoise">
  <p>Pale turquoise</p>
</div>

<div class="color-block color-block--turquoise">
  <p>Turquoise</p>
</div>

<div class="color-block color-block--biege">
  <p>Biege</p>
</div>

<div class="color-block color-block--red">
  <p>Red</p>
</div>

<div class="color-block color-block--orange">
  <p>Orange</p>
</div>

<div class="color-block color-block--white">
  <p>White</p>
</div>

<div class="color-block color-block--black">
  <p>Black</p>
</div>
