<h2 class="margin-bottom-normal border-bottom border--medium">Colours</h2>
<div class="color-block color-block--pale-turquoise margin-bottom-small">
  <p>Pale turquoise - ($pale-turquoise) - #96ceb4</p>
</div>

<div class="color-block color-block--turquoise margin-bottom-small">
  <p>Turquoise - ($turquoise) - #88d8b0</p>
</div>

<div class="color-block color-block--biege margin-bottom-small">
  <p>Biege - ($biege) - #ffeead</p>
</div>

<div class="color-block color-block--red margin-bottom-small">
  <p>Red - ($red) - #ff6f69</p>
</div>

<div class="color-block color-block--orange margin-bottom-small">
  <p>Orange - ($orange) - #ffcc5c</p>
</div>

<div class="color-block color-block--white margin-bottom-small">
  <p>White - ($white) - #fff</p>
</div>

<div class="color-block color-block--black margin-bottom-small">
  <p>Black - ($black) - #000</p>
</div>
