<div>
  <h2 class="margin-bottom-normal border-bottom border--medium heading-medium">Forms</h2>
  <div>
    <ul class="form">
      <li class="form--section">
        <h3>Input Boxes:</h3>
      </li>
      <li class="form--section">
        <p class="margin-bottom-small">Input box: </p>
        <input type="text" class="form--input" placeholder="First Name"/>
      </li>
      <li class="form--section">
        <p class="margin-bottom-small">Input box with error: </p>
        <input type="text" class="form--input form--error" placeholder="First Name"/>
      </li>
      <li class="form--section">
        <h3>Check Boxes:</h3>
      </li>
      <li class="form--section margin-bottom">
        <label class="form--label"><input class="margin-right-small" type="checkbox" /> A checkbox before the label</label><br>
      </li>
      <li class="form--section">
        <label class="form--label margin-top">A checkbox after the label<input class="margin-left-small" type="checkbox" /></label>
      </li>
      <li class="form--section">
        <label class="form--label margin-top form--error">A checkbox with error<input class="margin-left-small" type="checkbox" /></label>
      </li>
      <li class="form--section">
        <h3>Radio Button:</h3>
      </li>
      <li class="form--section margin-bottom">
        <label class="form--label"><input class="margin-right-small" type="radio" /> A radio button before the label</label><br>
      </li>
      <li class="form--section">
        <label class="form--label margin-top">A radio button after the label<input class="margin-left-small" type="radio" /></label>
      </li>
      <li class="form--section">
        <label class="form--label margin-top form--error">A radio button with error<input class="margin-left-small" type="radio" /></label>
      </li>
      <li class="form--section">
        <h3>Dropdown Menu:</h3>
      </li>
      <li class="form--section">
        <select class="form--dropdown">
          <option>Select your option</option>
          <option>Option One</option>
          <option>Option Two</option>
          <option>Option Three</option>
        </select>
      </li>
      <li class="form--section">
        <h3>Submit Button:</h3>
        <p>A submit button calls a class from the buttons component to make it form ready</p>
      </li>
      <li class="form--section">
        <button class="btn btn--red btn--form-submit">A submit button</button>
      </li>
    </ul>
</div>
