<h2 class="margin-bottom-normal border-bottom border--medium heading-medium">Spacing</h2>
<h3 class="margin-bottom-normal">Below shows the three different levels of spacing with their class extensions</h3>
<div class="margin-bottom-normal">
  <h4 class="margin-bottom-small">Small Spacing - .margin-bottom-small - You can replace bottom with top, left, right or all</h3>
  <p class="margin-bottom-small">Text</p>
  <p>Text</p>
</div>
<div class="margin-bottom-normal">
  <h4 class="margin-bottom-small">Normal Spacing - .margin-bottom-normal - You can replace bottom with top, left, right or all</h3>
  <p class="margin-bottom-normal">Text</p>
  <p>Text</p>
</div>
<div class="margin-bottom-normal">
  <h4 class="margin-bottom-small">Large Spacing - .margin-bottom-large - You can replace bottom with top, left, right or all</h3>
  <p class="margin-bottom-large">Text</p>
  <p>Text</p>
</div>
