.margin-all-small {
  margin: ($global-spacing-unit/2);
}

.margin-all-normal {
  margin: ($global-spacing-unit);
}

.margin-all-large {
  margin: ($global-spacing-unit*2);
}

.margin-left-small {
  margin-left: ($global-spacing-unit/2);
}

.margin-left-normal {
  margin-left: ($global-spacing-unit);
}

.margin-left-large {
  margin-left: ($global-spacing-unit*2);
}

.margin-right-small {
  margin-right: ($global-spacing-unit/2);
}

.margin-right-normal {
  margin-right: ($global-spacing-unit);
}

.margin-right-large {
  margin-right: ($global-spacing-unit*2);
}

.margin-top-small {
  margin-top: ($global-spacing-unit/2);
}

.margin-top-normal {
  margin-top: ($global-spacing-unit);
}

.margin-top-large {
  margin-top: ($global-spacing-unit*2);
}

.margin-bottom-small {
  margin-bottom: ($global-spacing-unit/2);
}

.margin-bottom-normal {
  margin-bottom: ($global-spacing-unit);
}

.margin-bottom-large {
  margin-bottom: ($global-spacing-unit*2);
}
